<?xml version="1.0"?>
<configuration>
  <appSettings/>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
  </system.web>
  <connectionStrings>
    <add name="AccountDataBase"
       connectionString="Server=twsrvwp-db05;Database=Accounting;Trusted_Connection=Yes;"/>    
  </connectionStrings>
  <system.serviceModel> 
    <services>
      <service name="Oleit.AS.Service.DataService.CurrencyAccess">
        <endpoint address="http://localhost:57693/CurrencyAccess.svc" binding="basicHttpBinding"
          bindingConfiguration="" contract="Oleit.AS.Service.DataService.ICurrencyAccess" />
      </service>
      <service name="Oleit.AS.Service.DataService.EntityAccess">
        <endpoint address="http://localhost:57693/EntityAccess.svc" binding="basicHttpBinding"
          bindingConfiguration="basicHttpBinding1" contract="Oleit.AS.Service.DataService.IEntityAccess" />
      </service>
      <service name="Oleit.AS.Service.DataService.LimitControl">
        <endpoint address="http://localhost:57693/LimitControl.svc" binding="basicHttpBinding"
          bindingConfiguration="" contract="Oleit.AS.Service.DataService.ILimitControl" />
      </service>
      <service name="Oleit.AS.Service.DataService.MenuAccess">
        <endpoint address="http://localhost:57693/MenuAccess.svc" binding="basicHttpBinding"
          bindingConfiguration="" contract="Oleit.AS.Service.DataService.IMenuAccess" />
      </service>
      <service name="Oleit.AS.Service.DataService.MLJRecordAccess">
        <endpoint address="http://localhost:57693/MLJRecordAccess.svc" binding="basicHttpBinding"
          bindingConfiguration="" contract="Oleit.AS.Service.DataService.IMLJRecordAccess" />
      </service>
      <service name="Oleit.AS.Service.DataService.PeriodAccess">
        <endpoint address="http://localhost:57693/PeriodAccess.svc" binding="basicHttpBinding"
          bindingConfiguration="" contract="Oleit.AS.Service.DataService.IPeriodAccess" />
      </service>
      <service name="Oleit.AS.Service.DataService.PropertyAccess">
        <endpoint address="http://localhost:57693/PropertyAccess.svc" binding="basicHttpBinding"
          bindingConfiguration="" contract="Oleit.AS.Service.DataService.IPropertyAccess" />
      </service>      
      <service name="Oleit.AS.Service.DataService.RecordAccess">
        <endpoint address="http://localhost:57693/RecordAccess.svc" binding="basicHttpBinding"
          bindingConfiguration="" contract="Oleit.AS.Service.DataService.IRecordAccess" />
      </service>
      <service name="Oleit.AS.Service.DataService.UserAccess">
        <endpoint address="http://localhost:57693/UserAccess.svc" binding="basicHttpBinding"
          bindingConfiguration="" contract="Oleit.AS.Service.DataService.IUserAccess" />
      </service>
      <service name="Oleit.AS.Service.DataService.TransferAccess">
        <endpoint address="http://localhost:57693/TransferAccess.svc" binding="basicHttpBinding"
          bindingConfiguration="" contract="Oleit.AS.Service.DataService.ITransferAccess" />
      </service>
      <service name="Oleit.AS.Service.DataService.TransactionAccess">
        <endpoint address="http://localhost:57693/TransactionAccess.svc" binding="basicHttpBinding"
          bindingConfiguration="" contract="Oleit.AS.Service.DataService.ITransactionAccess" />
      </service>
      <service name="Oleit.AS.Service.DataService.WeeklySummaryAccess">
        <endpoint address="http://localhost:57693/WeeklySummaryAccess.svc" binding="basicHttpBinding"
          bindingConfiguration="basicHttpBinding1" contract="Oleit.AS.Service.DataService.IWeeklySummaryAccess" />
      </service>
      <service name="Oleit.AS.Service.DataService.EndPeriodAccess">
        <endpoint address="http://localhost:57693/EndPeriodAccess.svc" binding="basicHttpBinding"
          bindingConfiguration="basicHttpBinding1" contract="Oleit.AS.Service.DataService.IEndPeriodAccess" />
      </service>
    </services>
    <bindings>
    <basicHttpBinding>
        <binding name="basicHttpBinding1" allowCookies="true"
                 maxReceivedMessageSize="655350000" 
                 maxBufferSize="655350000"
                 maxBufferPoolSize="655350000">
            <readerQuotas maxDepth="32" 
                 maxArrayLength="655350000"
                 maxStringContentLength="655350000"/>
        </binding>
    </basicHttpBinding>
</bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping> 
      <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="false"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>