<?xml version="1.0"?>
<configuration>
  <appSettings/>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="Oleit.AS.Service.LogicService.AccountService">
        <endpoint address="http://localhost:53695/AccountService.svc" binding="basicHttpBinding"
          bindingConfiguration="" contract="Oleit.AS.Service.LogicService.IAccountService" />
      </service>
      <service name="Oleit.AS.Service.LogicService.CalculateService">
        <endpoint address="http://localhost:53695/CalculateService.svc" binding="basicHttpBinding"
          bindingConfiguration="" contract="Oleit.AS.Service.LogicService.ICalculateService" />
      </service>
      <service name="Oleit.AS.Service.LogicService.CurrencyService">
        <endpoint address="http://localhost:53695/CurrencyService.svc" binding="basicHttpBinding"
          bindingConfiguration="" contract="Oleit.AS.Service.LogicService.ICurrencyService" />
      </service>
      <service name="Oleit.AS.Service.LogicService.DataEntryService">
        <endpoint address="http://localhost:53695/DataEntryService.svc" binding="basicHttpBinding"
          bindingConfiguration="" contract="Oleit.AS.Service.LogicService.IDataEntryService" />
      </service>
      <service name="Oleit.AS.Service.LogicService.EntityService">
        <endpoint address="http://localhost:53695/EntityService.svc" binding="basicHttpBinding"
          bindingConfiguration="" contract="Oleit.AS.Service.LogicService.IEntityService" />
      </service>
      <service name="Oleit.AS.Service.LogicService.InternalUserService">
        <endpoint address="http://localhost:53695/InternalUserService.svc" binding="basicHttpBinding"
          bindingConfiguration="" contract="Oleit.AS.Service.LogicService.IInternalUserService" />
      </service>
      <service name="Oleit.AS.Service.LogicService.PeriodService">
        <endpoint address="http://localhost:53695/PeriodService.svc" binding="basicHttpBinding"
          bindingConfiguration="" contract="Oleit.AS.Service.LogicService.IPeriodService" />
      </service>
      <service name="Oleit.AS.Service.LogicService.PropertiesService">
        <endpoint address="http://localhost:53695/PropertiesService.svc" binding="basicHttpBinding"
          bindingConfiguration="" contract="Oleit.AS.Service.LogicService.IPropertiesService" />
      </service>
      <service name="Oleit.AS.Service.LogicService.ReportService">
        <endpoint address="http://localhost:53695/ReportService.svc" binding="basicHttpBinding"
          bindingConfiguration="" contract="Oleit.AS.Service.LogicService.IReportService" />
      </service>
      <service name="Oleit.AS.Service.LogicService.SettleService">
        <endpoint address="http://localhost:53695/SettleService.svc" binding="basicHttpBinding"
          bindingConfiguration="" contract="Oleit.AS.Service.LogicService.ISettleService" />
      </service>
      <service name="Oleit.AS.Service.LogicService.TallyService">
        <endpoint address="http://localhost:53695/TallyService.svc" binding="basicHttpBinding"
          bindingConfiguration="" contract="Oleit.AS.Service.LogicService.ITallyService" />
      </service>
      <service name="Oleit.AS.Service.LogicService.PAndLService">
        <endpoint address="http://localhost:53695/PAndLService.svc" binding="basicHttpBinding"
          bindingConfiguration="" contract="Oleit.AS.Service.LogicService.IPAndLService" />
      </service>
      <service name="Oleit.AS.Service.LogicService.TransactionService">
        <endpoint address="http://localhost:53695/TransactionService.svc" binding="basicHttpBinding"
          bindingConfiguration="" contract="Oleit.AS.Service.LogicService.ITransactionAccess" />
      </service>
      <service name="Oleit.AS.Service.LogicService.MLJService">
        <endpoint address="http://localhost:53695/MLJService.svc" binding="basicHttpBinding"
          bindingConfiguration="" contract="Oleit.AS.Service.LogicService.IMLJService" />
      </service>
    <service name="Oleit.AS.Service.LogicService.MenuService">
        <endpoint address="http://localhost:53695/MenuService.svc" binding="basicHttpBinding"
          bindingConfiguration="" contract="Oleit.AS.Service.LogicService.IMenuService" />
      </service>

      <service name="Oleit.AS.Service.LogicService.EndPeriodService">
        <endpoint address="http://localhost:53695/EndPeriodService.svc" binding="basicHttpBinding"
          bindingConfiguration="" contract="Oleit.AS.Service.LogicService.IEndPeriodService" />
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ICurrencyAccess" />
        <binding name="BasicHttpBinding_IPropertyAccess" />
        <binding name="BasicHttpBinding_IPeriodAccess" />
        <binding name="BasicHttpBinding_IUserAccess" />
        <binding name="BasicHttpBinding_IWeeklySummaryAccess" maxBufferSize="655360000"
          maxReceivedMessageSize="655360000" />
        <binding name="BasicHttpBinding_IRecordAccess" />
        <binding name="BasicHttpBinding_ITransferAccess" />
        <binding name="BasicHttpBinding_ITransactionAccess" />
        <binding name="BasicHttpBinding_IEntityAccess" maxBufferSize="6553600"
          maxReceivedMessageSize="6553600" />
        <binding name="BasicHttpBinding_IMLJRecordAccess" />
        <binding name="BasicHttpBinding_IMenuAccess" />
        <binding name="BasicHttpBinding_ILimitControl" />
        <binding name="BasicHttpBinding_IEntityService" />
        <binding name="BasicHttpBinding_IEntityAccess1" />
        <binding name="BasicHttpBinding_IEndPeriodAccess" />
        <binding name="BasicHttpBinding_IEntityAccess2" />
        <binding name="BasicHttpBinding_IEntityAccess3" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:57693/PropertyAccess.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPropertyAccess"
        contract="PropertyAccessReference.IPropertyAccess" name="BasicHttpBinding_IPropertyAccess" />
      <endpoint address="http://localhost:57693/CurrencyAccess.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICurrencyAccess"
        contract="CurrencyAccessReference.ICurrencyAccess" name="BasicHttpBinding_ICurrencyAccess" />
      <endpoint address="http://localhost:57693/PeriodAccess.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IPeriodAccess" contract="PeriodAccessReference.IPeriodAccess"
        name="BasicHttpBinding_IPeriodAccess" />
      <endpoint address="http://localhost:57693/UserAccess.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IUserAccess" contract="UserAccessReference.IUserAccess"
        name="BasicHttpBinding_IUserAccess" />
      <endpoint address="http://localhost:57693/WeeklySummaryAccess.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWeeklySummaryAccess"
        contract="WeeklySummaryReference.IWeeklySummaryAccess" name="BasicHttpBinding_IWeeklySummaryAccess" />
      <endpoint address="http://localhost:57693/RecordAccess.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IRecordAccess" contract="RecordAccessReference.IRecordAccess"
        name="BasicHttpBinding_IRecordAccess" />
      <endpoint address="http://localhost:57693/TransferAccess.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITransferAccess"
        contract="TransferAccessReference.ITransferAccess" name="BasicHttpBinding_ITransferAccess" />
      <endpoint address="http://localhost:57693/TransactionAccess.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITransactionAccess"
        contract="TransactionAccessReference.ITransactionAccess" name="BasicHttpBinding_ITransactionAccess" />
      <endpoint address="http://localhost:57693/EntityAccess.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IEntityAccess" contract="EntityAccessReference.IEntityAccess"
        name="BasicHttpBinding_IEntityAccess" />
      <endpoint address="http://localhost:57693/MLJRecordAccess.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMLJRecordAccess"
        contract="MLJRecordAccessReference.IMLJRecordAccess" name="BasicHttpBinding_IMLJRecordAccess" />
      <endpoint address="http://localhost:57693/MenuAccess.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IMenuAccess" contract="MenuAccessReference.IMenuAccess"
        name="BasicHttpBinding_IMenuAccess" />
      <endpoint address="http://localhost:57693/LimitControl.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ILimitControl" contract="LimitControlAccessReference.ILimitControl"
        name="BasicHttpBinding_ILimitControl" />
      <endpoint address="http://localhost:53695/EntityService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEntityService"
        contract="EntityAccessReference.IEntityService" name="BasicHttpBinding_IEntityService" />
      <endpoint address="http://localhost:57693/EntityAccess.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IEntityAccess1" contract="EntityAccessReference.IEntityAccess"
        name="BasicHttpBinding_IEntityAccess1" />
      <endpoint address="http://localhost:57693/EndPeriodAccess.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEndPeriodAccess"
        contract="EndPeriodAccessReference.IEndPeriodAccess" name="BasicHttpBinding_IEndPeriodAccess" />
      <endpoint address="http://localhost:57693/EntityAccess.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IEntityAccess2" contract="EntityAccessReference.IEntityAccess"
        name="BasicHttpBinding_IEntityAccess2" />
      <endpoint address="http://localhost:57693/EntityAccess.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IEntityAccess3" contract="EntityAccessReference.IEntityAccess"
        name="BasicHttpBinding_IEntityAccess3" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="false"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>